@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
  --color-primary: #6750A4;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #EADDFF;
  --color-on-primary-container: #21005D;
  --color-secondary: #625B71;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #E8DEF8;
  --color-on-secondary-container: #1D192B;
  --color-tertiary: #7D5260;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #FFD8E4;
  --color-on-tertiary-container: #31111D;
  --color-error: #B3261E;
  --color-on-error: #FFFFFF;
  --color-error-container: #F9DEDC;
  --color-on-error-container: #410E0B;
  --color-background: #FFFBFE;
  --color-on-background: #1C1B1F;
  --color-surface: #FFFBFE;
  --color-on-surface: #1C1B1F;
  --color-surface-variant: #E7E0EC;
  --color-on-surface-variant: #49454F;
  --color-outline: #79747E;
  --color-outline-variant: #CAC4D0;
  --color-surface-container: #F3EDF7;
  --color-surface-container-high: #ECE6F0;
  --color-surface-container-highest: #E6E0E9;
  --color-surface-container-low: #F7F2FA;
  --color-surface-container-lowest: #FFFFFF;
  --color-inverse-surface: #313033;
  --color-on-inverse-surface: #F4EFF4;
  --color-inverse-primary: #D0BCFF;
  --color-shadow: #000000;
  --color-scrim: #000000;
}
